<section onload="" class="hd-bg">
  <article class="padded-content">
    
    <article class="head-lbl">ABOUT US<br/>
     </article>
      <br/>
      <article class="small-lbl" style="color:white;">
        Tinsoft is a a new technology company based in Nigeria. We have Vast knowledge when it comes to developing websites,custom softwares,mobile applications and database development. We have 5 years of experience in the rapidly growing tech industry. We’ve developed and successfully delivered more than 20 projects to our clients ,We strive to cultivate strategic long-term partnerships with our clients by providing exceptional quality services at all stages of development and delivery, While relying on the industry best practices, we also keep a close eye on the innovations and ready to offer creative solutions, backed by the latest tech, to the industry leaders and startups
      <br/>
      <br/>
     
      
      </article>
      
  </article>
</section>

